.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
*.vsix
**/*.ts
test-extension.js
debug-extension.js
debug-neo4j.js
test-bundled.js
test-commands.js